body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
}

table {
  margin-left: 5px auto;
}

.vert {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
