body {
  font-family: Helvetica;
}

table {
  border-collapse: collapse;
}

tr,
td {
  font-size: 30px;
  border: 1px solid black;
  text-align: center;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

button {
  width: 60px;
  height: auto;
}

.green {
  background-color: rgb(124, 252, 0);
}

.red {
  background-color: rgb(250, 128, 114);
}

.progress {
  /*light-grey*/
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.determinate {
  /*progress-green*/
  color: #fff !important;
  background-color: #4caf50 !important;
}
