body {
  font-family: Helvetica;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  text-align: center;
  height: 59px;
  width: 59px;
  cursor: pointer;
  font-size: 30px;
}

#game-container {
  width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
}

.green {
  background-color: rgb(124, 252, 0);
}

.red {
  background-color: rgb(250, 128, 114);
}

.light-grey {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.progress-green {
  color: #fff !important;
  background-color: #4caf50 !important;
}
